@media screen and ( max-width: 1366px )
    .main_title
        font-size: rems(36)
        line-height: rems(43)
    .navigation_list__item
        &:not(&:last-child)
            margin-right: rems(70)
    .main__interactive__buttons
        flex-direction: row
        align-items: center
        justify-content: space-around
    .plans
        margin-top: rems(0)
        margin-left: rems(16)
    .footer-bg
        transform: translate(0, -74%)
    .left-pattern
        img
            max-width: 412px
            min-height: 351px
        transform: translate(0, -63%) 
    .right-pattern
        img
            max-width: 412px
            min-height: 351px
        transform: translate(0, -63%)
    // Popup
    .popup
        width: 46%
        min-height: 614px