@media screen and ( max-width: 465px )
    .pattern_left1
        display: none
    .popup
        width: 92%
        min-height: 458px
    .pattern-group
        display: none
    .info__item
        &::before
            left: -10.5%