@media screen and ( max-width: 465px )
    .header
        padding-top: rems(20)
        .container
            justify-content: center
            align-items: center
    .logo
        margin-top: rems(52)
        max-width: 80%
        // text-align: center
        .logo_img
            max-width: 100%
    .main_title
        margin-top: rems(15)
    .number a
        display: none
    .footer
        .number-mobile 
            display: flex
            justify-content: center
            padding: 15px
            // margin: 0 auto
            margin-top: rems(30)
            a
                color: $main-color-green
                text-decoration: none
                font-size: rems(19)
                line-height: rems(24)
                letter-spacing: rems(3.5)
                font-weight: 700
        .logo_ssd__img
            padding-bottom: 15px
    .pattern_left1
        display: none
    .pattern-group
        display: none
    .info__item
        &::before
            left: -10.5%
    .footer-bg
        transform: translate(0, -100%)
    // Cloudy
    .cloudy
        display: flex
        background-color: rgba(0,0,0,.2)
        position: relative
        width: 100%
        img
            transform: scale(.7)
        .cloud1
            display: none
            position: absolute
            top: 20px
            left: 8%
            // transform: translateX(250px) translateY(20px)
        .cloud2
            position: absolute
            top: -130px
            left: -8.75%
            transform: scale(.9)
            // transform: translateX(600px) translateY(-15px)
        .cloud3
            position: absolute
            top: -150px
            left: 13%
            transform: scale(.9)
            // transform: translateX(810px) translateY(-48px)
            z-index: 1
        .cloud4
            position: absolute
            top: -100px
            left: 67.7%
            // transform: translateX(1300px) translateY(50px) rotateY(180deg)
        .cloud5
            display: none
            position: absolute
            top: 0
            left: 83%
            // transform: translateX(1600px) translateY(0)
        .sun
            position: absolute
            top: -144px
            left: 52%
            // transform: translateX(1020px) translateY(-50px)
            z-index: 0